[role="navigation"] {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    width: 14em;
    overflow: auto;
    box-shadow: -3px 0 3px 0 rgba(0,0,0,0.1) inset;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    transition: transform 0.3s ease-in-out;
    z-index: 10;

    @media screen and (min-width: 80em) {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > ol {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    li {
        word-wrap: break-word;
    }

    a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: $base-unit/2;
        text-decoration: none;
        color: rgba(255,255,255,0.9);
        display: block;
        background: rgba(255,255,255,0);
        transition: border 0.2s, background 0.2s, text-shadow 0.2s;
        text-shadow: 1px 1px rgba(0,0,0,0);

        &:hover {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            border-top: 1px solid rgba(255,255,255,0.2);
            background: rgba(255,255,255,0.1);
            text-shadow: 1px 1px rgba(0,0,0,0.2);
        }
    }
}

.scrollbarwidth [role="navigation"] {
    overflow: hidden;

    > ol {
        margin-right: -17px;
        overflow-y: scroll;
        //padding-right: 17px;
    }
}