* {
    box-sizing: border-box;
}

html {
    font-size: 50%;
    background: #126bbe;

    &.android {
        background: #674172;
    }

    &.ios {
        background: #6C7A89;
    }

    @media screen and (min-width: 28em) {
        font-size: 62.5%;
    }
}

body {
    font-size: 1.8rem;
    color: #FFF;
    line-height: (32/18);
    padding: 48/28*1em 48/28*1em;
    max-width: 28em;
    margin: auto;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    color: #f8f8f8;
    text-align: center;

    .ios & {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}

h1,h2,h3,h4 {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    color: #FFF;

    .ios & {
        font-family: 'Lato', sans-serif;
    }
}

h1, h2 {
    font-size: 6.2rem;
    line-height: (72/62);
    margin: 0 0 24/72*1em 0;
    text-transform: uppercase;

    .ios & {
        font-weight: 300;
    }
}

h3 {
    font-size: 3rem;
    line-height: (36/30);
    margin: 0 0 24/30*1em 0;
}

/*h3 {
    font-size: 2.4rem;
}*/

h4 {
    font-size: 2rem;

    li & {
        margin-bottom: 0;
    }
}

p, ul, ol {
    margin: 0 0 $base-unit 0;
}

a {
    color: #c8c8c8;
    text-decoration: underline;

    &:hover {
        color: #FFF;
        text-decoration: underline;
    }
}

h4 a {
    color: #FFF;
    text-decoration: none;
}

ul {
    margin-left: -$base-unit;
    padding-left: $base-unit;
    list-style-type: none;
}