@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500,800);

@import "../bower_components/normalize.css/normalize.css";

$base-unit: 24/18*1em;

@import "typography";
@import "nav";

html, body {
    height: 100%;
}

body {
    position: relative;
}

img {
    display: block;
    max-width: 100%;
    margin: auto auto $base-unit auto;
}

.article {
    padding: $base-unit*4 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 28em;
    display: none;
    margin: 0 $base-unit;

    &:target, &.active {
        display: block;
    }
}

.article-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);

    .show-content & {
        display: none;
    }
}

.article-content {
    display: none;

    .show-content & {
        display: block;
    }
}

.gif {
    padding: $base-unit/2;
    background: #FFF;
    border-radius: 0.2em;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
}




